<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_grBYLrlSg7RIvU_j0o5dwvTtrvPlDxw</string>
	<key>GCM_SENDER_ID</key>
	<string>251611900627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cc.supercenter.iCapture</string>
	<key>PROJECT_ID</key>
	<string>icapture-d7d4c</string>
	<key>STORAGE_BUCKET</key>
	<string>icapture-d7d4c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251611900627:ios:894c273b1d6d55dd13c226</string>
</dict>
</plist>